################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/backend/.vs/Whiteboard/FileContentIndex
